.App {
  text-align: center;
  padding: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

audio {
  margin-top: 20px;
  width: 80%;
}

{/*사용 예시 <button className="btn">버튼</button>*/}
.btn {
  @apply rounded-lg bg-blue-500 px-4 py-2 text-white transition-colors hover:bg-blue-600;
}

/* TestPage.css */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* 페이지의 모든 요소 위에 위치하게 설정 */
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
